{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'style/about.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'style/unidade.css' %}">
    <link rel="icon" href="{% static 'imagens/icons/LogoSomente.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Sobre nós</title>
</head>
<body>
    <div id="header-top">
        <img src="{% static 'imagens/casaRaraBranco_1.png' %}" alt="" id="casaRaraLogo">
        <a href="/inicio/">Início</a>
        <a href="#">Unidade</a>
        <a href="/sobre/">Sobre</a>
    </div>
    <div class="first-content">
        <div class="contentBox">
            <h1>A Sede e a Expansão </h1>
            <p>Com o sucesso da Feira Atípica, veio o sonho de uma sede fixa—um lugar acessível, perto de transporte público, que atendesse famílias de Niterói, São Gonçalo, Maricá e região. </p>
        </div>

    </div>
    <div class="third-content">
        <div class="onHandle">
            <div class="boxLeft">
                <h2>Nossos Serviços e Ações Comunitárias</h2>
                <br>
                <p>Em fevereiro de 2023 a Casa Rara começou seus atendimentos e, em menos de um ano, já contava com quase 50 profissionais voluntários, oferecendo:</p>
            </div>
        </div>
    </div>
    <div class="center">
    <div class="servicesContent">
        <div class="item item-1">
            <div class="bgIcon">
            <i class="fa-solid fa-brain" id="iconGrid"></i>
        </div>
            <div class="formatacao">
            <h2>Atendimentos Terapêuticos e Educacionais</h2>
            <p>Serviços oferecidos por profissionais voluntários com foco no desenvolvimento infantil e apoio às famílias, incluindo atendimentos em Psicologia, Fonoaudiologia, Psicomotricidade, Terapias Educacionais, Nutrição, Fisioterapia, Reforço Escolar e avaliações neurológicas especializadas.</p>
        </div>
        </div>

        <div class="item item-2">
            <div class="bgIcon">
            <i class="fa-solid fa-masks-theater" id="iconGrid"></i>
            </div>
            <div class="formatacao">
            <h2>Atividades Culturais e Inclusivas</h2>
            <p>As oficinas culturais da Casa Rara, como Capoeira, Balé, Teatro e Libras, promovem a integração, expressão, e desenvolvem habilidades físicas, criativas, além de incentivar a inclusão social, a comunicação, e a acessibilidade.</p>
        </div>
    </div>
        <div class="item item-3">
            <div class="bgIcon">
            <i class="fa-solid fa-heart" id="iconGrid"></i>
        </div>
            <div class="formatacao">
                <h2>Apoio Social e Comunitário</h2>
                <p>Ações de apoio às famílias com distribuição de doações e atuação de voluntários, em uma sede acessível e acolhedora para a região de Niterói, São Gonçalo e Maricá.</p>
            </div>
        </div>

    </div>
</div>
        <div class="contactUs">
             <div class="contactDesc">
                <h2>Quer fazer parte dessa causa?</h2>
                <p>Se você se sentiu tocado pela história da Casa Rara, saiba que há muitas formas de colaborar com esse projeto de amor e acolhimento. Seja como voluntário, doador ou parceiro, a sua contribuição é fundamental para que possamos continuar oferecendo atendimento, apoio e informação para pessoas raras e suas famílias.</p>
                <ul>
                    <li>- Está interessado em oferecer seu tempo como voluntário?</li>
                    <li>- Quer saber mais sobre nossos atendimentos e atividades?</li>
                    <li>- Deseja doar ou divulgar o nosso trabalho?</li>
                </ul>
                <p>Entre em contato conosco! Estamos de braços abertos para receber você nessa rede de solidariedade.</p>
            </div>
            <div class="contactGrid">
                <div class="contactContent">
                    <div class="box box-1">
                        <div class="boxDesc">
                            <i class="fa-brands fa-instagram"></i>
                            <p>Instagram</p>
                            <p>@casa.atipica</p>
                        </div>
                    </div>
                    <div class="box box-2">
                       <div class="boxDesc">
                        <i class="fa-brands fa-whatsapp"></i>
                        <p>WhatsApp</p>
                        <p>(21)98106-9961</p>
                       </div>
                    </div>
                    <div class="box box-3">
                        <div class="boxDesc">
                            <i class="fa-solid fa-phone"></i>
                            <p>Telefone</p>
                            <p>(21) 2610-6232</p>
                        </div>
                    </div>
                    <div class="box box-4">
                        <div class="boxDesc">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Endereço</p>
                            <p>Rua Duarte Galvão, 17 - Fonseca</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Casa Atípica</h1>
                <p>Transformando diferenças em potência - por uma sociedade mais inclusiva</p>

                <div id="footer_social_media">
                    <a href="https://www.instagram.com/casa.atipica/" target="_blank" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://web.facebook.com/profile.php?id=100087728827841" target = "_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://wa.me/5521981069961" target = "_blank" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Contatos:</h3>
                </li>
                <li>
                    <a href="https://www.instagram.com/casa.atipica/" target="_blank" class="footer-link"><strong>Instagram:</strong>@casa.atipica</a>
                </li>
                <li>
                    <a href="mailto:Casa.atipicaa@gmail.com" target="_blank" class="footer-link"><strong>E-mail:</strong> manueglantina@gmail.com</a>
                </li>
                <li>
                    <a href="https://web.facebook.com/profile.php?id=100087728827841" target="_blank" class="footer-link"><strong>Facebook:</strong> CASA Atípica </a>
                </li>
                <li>
                    <a href="https://wa.me/5521981069961" target="_blank" class="footer-link"><strong>Whatsapp</strong> (21) 98106-9961</a>
                </li>

            </ul>
            <div id="footer_subscribe">
                <h3>AJUDA</h3>

                <p>ENVIE SEU EMAIL PARA RECEBER AJUDA</p>

                <div id="input_group">
                    <input type="email" id="email" name="email" required>
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>

            </div>
            <ul class="footer-lista">
                <li>
                    <a class="footerlink"><strong>Casa Rara - Inclusão para pessoas com deficiência</strong></a>
                </li>
                <li>
                    <a class="footerlink"><strong>PIX: Casa.atipicaa@gmail.com</strong></a>
                </li>
                <li>
                    <a class="footerlink"><strong>CNPJ: 01.606.055/0001-02</strong></a>
                </li>
            </ul>
        </div>


        <div id="footer_copyright">
            &#169
            2025 - Todos os direito reservados. Por Casa Rara
        </div>

      </footer>
    <script src="{% static 'script/app.js' %}"></script>
</body>
</html>