@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  :root{
    --color-neutral-0: #0c0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);

  }

  *{
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;

  }
  html{
    scroll-behavior: smooth;
  }

  footer{
    width: 100%;
    color: var(--color-neutral-40);
    background-color: var(--color-neutral-10);
  }

  .footer-link{
    text-decoration: none;
  }

  #header-top{
  font-family: 'inter';
  font-size: 18px;
   width: 100%;
   height: 10vh;
   opacity: 1;
   color: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   z-index: 100;
   position: fixed;
   top: 0;
   left: 0;
   transition: 0.5s;
  }

  #header-about{
    font-family: 'inter';
    font-size: 18px;
    width: 100%;
    height: 10vh;
    opacity: 1;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  #header-top a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

  #header-top.colorHeader a{
    color: black;
  }

  .colorHeader{
    transition: 0.5s;
    background-color: white;
    opacity: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color:black;
  }

  #header-top a:hover{
    color: #8A2BE2;
    transition: 0.8s;
  }
  #header-top img {
    height: 100%;
    padding: 10px;
  }

  .bannerCarrossel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .bannerSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background-size: cover;
    background-position: center;
  }
  .bannerSlide.ativo {
    opacity: 1;
    z-index: 1;
  }

  .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .dot {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 8px;
    margin: 0 6px;
    background-color: #3b165e;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }

  .preencher {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #8A2BE2;
    transition: width 5s linear;
  }

  .bannerConteudo1 {
    position: relative;
    top: 25dvh;
    left: 15dvh;
    color: var(--color-neutral-40);
    z-index: 1;
  }
  .bannerConteudo1 h1 {
    font-size: 10dvh;
  }
  .bannerConteudo1 p {
    font-size: 4dvh;
    margin-left: 3dvh;
  }

  .localizacao {
    position: relative;
    top: 34dvh;
    left: 22dvh;
    display: flex;
    align-items: center;
    gap: 2dvh;
    color: var(--color-neutral-40);
    font-size: 3dvh;
  }
  .localizacao i {
    font-size: 4dvh;
    color: var(--color-neutral-40);
  }

  .gps-texto {
    margin: 0;
    line-height: 1.4;
  }

  .botaoChegar {
    position: absolute;
    top: 33dvh;
    right: 35dvh;
    padding: 17px 35px;
    background: var(--color-neutral-40);
    color: #8A2BE2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
  }
  .botaoChegar:hover {
    background: #f3e9fd;
    color: #6b1cb8;
  }

  .bannerConteudo2 {
    position: relative;
    top: 13dvh;
    left: 45dvh;
    color: #131a3f;
  }
  .bannerConteudo2 h1 {
    font-size: 8dvh;
    line-height: 1.2;
  }
  .bannerConteudo2 p {
    color: #10787a;
    margin-top: 0.5dvh;
    margin-left: 4dvh;
    font-weight: bold;
    font-size: 3dvh;
  }

  .logoFranit {
    position: absolute;
    width: 28dvh;
    margin-top: 2dvh;
    margin-left: 6dvh;
    display: block;
  }

  .botaoSaiba {
    background-color: #004aad;
    color: var(--color-neutral-40);
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    font-size: 3dvh;
    display: inline-block;
    margin-top: 20dvh;
    margin-left: 95dvh;
    padding: 14px 50px;
    transition: background-color 0.3s ease;
  }
  .botaoSaiba:hover {
    background-color: #003d80;
  }

  .banner3 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25dvh;
    background: linear-gradient(to right, #0e59be, #f096ff);
    color: var(--color-neutral-40);
  }

  .tituloBanner3 {
    font-size: 7dvh;
    font-weight: bold;
    margin-bottom: 3dvh;
  }

  .textoBanner3 {
    font-size: 4dvh;
    margin-bottom: 5dvh;
  }

  .botaoDoar {
    background-color: var(--color-neutral-40);
    color: #8c52ff;
    font-size: 3dvh;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    padding: 17px 40px;
    margin-top: 50dvh;
    transition: background-color 0.3s ease;
  }
  .botaoDoar:hover {
    background-color: #f3f3f3;
  }

  .iconesBanner3 {
    display: flex;
    flex-direction: column;
    font-size: 18vh;
    gap: 8dvh;
  }

  .main-content h3{
    font-size: 72px;
  }

  #main-content2{
    width: 100%;
    background-color: #f9f6fc;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: stretch;
    gap: 40px;
    padding: 60px 5%;
    flex-wrap: wrap; /
  }
  #informacao, #acolhimento, #tratamento {
    background: white;
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    padding: 30px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    border: 2px solid #d9c6f1;
    min-height: 370px; /
  }
  #informacao:hover, #acolhimento:hover, #tratamento:hover {
      transform: translateY(-5px);
  }

  #main-content3 {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(to bottom left, #f3effa, #f9f6fc);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

  #form-banner{
    bottom: 20%;
  }

  .alignCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #btn-banner1{
    margin-top: 5%;
    margin-right: 3%;
    background-color: #BC6631;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    color: white;
    outline: none;
    border: 1px solid #BC6631;
    font-family: 'inter', sans-serif;
  }
  #btn-banner1:hover{
    border: 1px solid #BC6631;
    background-color: white;
    transition: 0.4s;
    color: #BC6631;
    outline: none;
    font-weight: 700;
  }

  #btn-banner2{
    margin-top: 5%;
    margin-right: 3%;
    background-color: #000000;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    color: #BC6631;
    outline: none;
    border: 1px solid #BC6631;
    font-family: 'inter', sans-serif;
  }
  #btn-banner2:hover{
    border: 1px solid #BC6631;
    background-color: white;
    transition: 0.4s;
    color: #BC6631;
    outline: none;
  }

  #footer_content{
    background-color:rgb(59, 22, 94);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    color : white;
  }

  #footer_contacts h1{
    margin-bottom: 0.75rem;
    margin-right: 1rem;
  }

  #footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }

  #footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  #footer_social_media .footer-link i{
    font-size: 1.25rem;
  }
  #footer_social_media .footer-link:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

  }

  #instagram{
    background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  }

  #facebook{
    background-color: #4267b3;
  }

  #whatsapp{
    background-color: #25d366;
  }

  .footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left: 2rem;

  }

  .footer-lista{
    color:var(--color-neutral-40);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding-top:30px;
    padding-left: 80px;
    width:600px;
  }

  .footerlink{
    color:var(--color-neutral-30);
    font-size: 19px;
    opacity: 0.9;
    text-decoration:none;
    font-family: 'inter';
    text-align: justify;
  }

  .footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.9s;
  }
  .footer-list .footer-link:hover{
    color: #8A2BE2;
  }
  .footer-lista .footerlink:hover{
    color: #8A2BE2;
    transition: all 0.9s;
  }

  #footer_ajuda{
    font-family:'inter';
  }

  #footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #footer_subscribe p{
    color: var(--color-neutral-30);
  }

  #input_group{
    display: flex;
    align-items: center;
    background-color: rgb(30, 11, 48);
    border-radius: 4px;
  }

  #input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }

  #input_group button{
    background-color:#8A2BE2;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.9s;
  }

  #input_group button:hover{
    opacity: 0.9;
  }

  #footer_copyright{
    display: flex;
    justify-content: center;
    background-color: rgb(30, 11, 48);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: white;
  }

  @media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }

  @media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
  }

  .titulo{
    font-size: 20px;
    color: rgb(59, 22, 94);
    padding-top: 50px;

  }
  #informacao{
    background:white;
    width:350px;
    height:100%;
  }
  #acolhimento{
    background:white;
    width:350px;
    height:100%;
  }
  #tratamento{
    background:white;
    width:350px;
    height:100%;
  }
  .desc{
    color: black;
    padding-top: 30px;
    font-weight: 700;
  }
  .icones{
    width:70px;
    height: 70px;
    margin-top: 60px;
  }

  @media screen and (max-width: 768px) {
    #header-top {
      font-size: 16px;
      gap: 20px;
      padding: 0 10px;
    }
    #header-top img {
      height: 80%;
    }
    #main-content {
      height: 40vh;
      padding: 0 5%;
    }
    #main-content2 {
      flex-direction: column;
      height: auto;
      gap: 50px;
      padding: 50px 0;
    }
    #informacao, #acolhimento, #tratamento {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    .icones {
      margin-top: 30px;
    }
    #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding: 2rem;
    }
    .footer-lista {
      width: 100%;
      padding-left: 0;
      grid-column: span 2;
    }
  }

  @media screen and (max-width: 480px) {
    #header-top {
      font-size: 14px;
      gap: 15px;
      justify-content: space-around;
    }
    #header-top a {
      margin: 0 5px;
    }
    #header-top img {
      height: 70%;
    }
    #main-content {
      height: 30vh;
    }
    #main-content h3 {
      font-size: 2rem;
    }
    #main-content2 {
      gap: 30px;
      padding: 30px 0;
    }
    #informacao, #acolhimento, #tratamento {
      width: 90%;
    }
    .titulo {
      font-size: 18px;
      padding-top: 20px;
    }
    .desc {
      padding-top: 15px;
      font-size: 14px;
    }
    #footer_content {
      grid-template-columns: 1fr;
      padding: 1.5rem;
    }
    .footer-list {
      margin-left: 0;
    }
    .footer-lista {
      grid-column: span 1;
    }
    #footer_social_media {
      justify-content: center;
    }
    #footer_copyright {
      font-size: 0.8rem;
      padding: 1rem;
    }
  }

  @media screen and (max-width: 320px) {
    #header-top {
      font-size: 12px;
      gap: 10px;
    }
    #header-top img {
      display: none;
    }
    .titulo {
      font-size: 16px;
    }
    .desc {
      font-size: 12px;
    }
    .icones {
      width: 50px;
      height: 50px;
    }
  }

  @media screen and (max-width: 768px) {
    .first-content .contentBox {
      padding: 0 20px;
    }
    .third-content {
      flex-direction: column;
    }
    .descriptionLeft, .descriptionRight {
      width: 100%;
      padding: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .onHandle .boxLeft {
      padding: 0 20px;
    }
  }
  .carrossel {
  position: relative;
  width: 90%; /* em vez de 800px */
  max-width: 800px;
  aspect-ratio: 16 / 9; /* mantém proporção em qualquer tela */
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid rgb(59, 22, 94);
  margin: auto;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-size: cover;
  background-position: center;
}

.slide.ativa {
  opacity: 1;
  z-index: 1;
}

  .seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    background-color: #B5B2B2;
    color: rgb(59, 22, 94);
    border: none;
    cursor: pointer;
    padding: 15px;
    z-index: 10;
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 1;
  }

  .seta.esquerda {
    left: 10px;
  }

  .seta.direita {
    right: 10px;
  }
  .seta:hover {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }
  .titulo2{
    font-size: 60px;
    color: rgb(59, 22, 94);
  }
  .desc2{
    font-size: 20px;
    color: rgb(59, 22, 94);
  }
  .slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .titulopix{
    color: rgb(59, 22, 94);
  }
  #main-content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #a077b2, #3b165e);
    color: white;
    gap: 30px;

  }
  #main-content4 img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(59, 22, 94, 0.3);
    transition: transform 0.3s ease;
  }
  #main-content4 img:hover {
      transform: scale(1.05);
  }

  .titulopix {
    font-size: 32px;
    max-width: 800px;
    color: #3b165e;
    font-weight: 700;
    line-height: 1.5;
  }
  #containerNEW{
    padding: 60px 20px;
     background: #f3effa;
}

  .fotocasarara{
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
  #container-resumo{
    flex: 2;
    min-width: 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

  }
  .titulocasarara{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .resumo {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: #f0f0f0;
  }

  .pix-dados {
    background-color: #f3effa;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    color: #3b165e;
    text-align: center;
    margin-bottom: 20px;
  }


  .pix-dados button {
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    background-color: #3b165e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  .pix-dados button:hover {
    background-color: #5a2b89;
  }

  .mensagem-pix {
    font-size: 18px;
    color: #3b165e;
    margin-bottom: 20px;
    text-align: center;
    max-width: 500px;
  }
  .pix-container {
    background-color: #ffffff;
    border: 3px solid #d9c6f1;
    border-radius: 20px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(59, 22, 94, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .qrpix {
    width: 180px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(59, 22, 94, 0.2);
  }
  .donation-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      background-color: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .donation-text {
      text-align: center;
      margin-bottom: 30px;
  }
  .donation-text h2 {
      font-size: 28px;
      color: #3b165e;
      margin-bottom: 15px;
  }
  .donation-text p {
      font-size: 18px;
      color: #666;
  }
  .donation-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 18px;
  }
  .donation-list li {
      display: flex;
      align-items: center;
      margin: 15px 0;
  }
  .check-icon {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #3b165e;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .check-icon::before {
      content: '✔';
      font-size: 12px;
      color: white;
  }
  .donate-now {
      margin-top: 30px;
  }
  .donate-now-button {
      background-color: #3b165e;
      color: white;
      padding: 15px 25px;
      font-size: 18px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  .donate-now-button:hover {
      background-color: #5a2b89;
  }

  .donation-text h2 {
      font-size: 28px;
      color: #3b165e;
      margin-bottom: 15px;
  }

  .donation-text p {
      font-size: 18px;
      color: #666;
  }

  .donation-options {
      text-align: center;
      margin-top: 20px;
  }

  .donation-options h3 {
      font-size: 24px;
      color: #3b165e;
      margin-bottom: 10px;
  }

  .donation-options p {
      font-size: 16px;
      color: #666;
      margin-bottom: 20px;
  }

  .donation-buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
  }

  .donate-button {
      background-color: #3b165e;
      color: white;
      padding: 15px 25px;
      font-size: 18px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  .donate-button:hover {
      background-color:  #5a2b89;
  }

  #franitInfo {
    background-color: #f5f0fa;
    padding: 80px 60px;
    display: flex;
    justify-content: center;
  }

  .franitContainer {
    display: flex;
    max-width: 1400px;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
  }

  .franitTexto {
    flex: 1 1 80dvh;
    color: #2e1a47;
    font-family: 'Inter', sans-serif;
  }
  .franitTexto h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5e2c87;
  }
  .franitTexto h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #7a45b2;
  }
  .franitTexto p {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 16px;
  }
  .franitTexto ul {
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 16px;
  }
  .franitTexto li {
    margin-bottom: 15px;
    font-size: 17px;
  }

  .franitImagem {
    flex: 1 1 35dvh;
    text-align: center;
  }
  .franitImagem img {
    width: 70dvh;
    height: 80dvh;
    object-fit: fill;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .franitLegenda {
    color: #2e1a47;
    font-weight: bold;
    margin-top: 1.5dvh;
    font-style: italic;
  }

  .fraseFranit {
    color: #6a1b9a;
    margin-top: 5dvh;
    border-left: 4px solid #8A2BE2;
    background: linear-gradient(90deg, rgba(245,200,255,0.7), rgba(245,200,255,0));
    font-size: 3.2dvh;
    font-style: italic;
    padding-left: 2dvh;
    font-weight: 500;
    line-height: 1.6;
  }
  .iconeFrase {
    color: #8A2BE2;
    margin-right: 5px;
    font-size: 2.5dvh;
  }

  .botaoConecte {
    background-color: #8A2BE2;
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5dvh;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 12px 28px;
    opacity: 0;
    transition: all 3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    pointer-events: none;
  }
  .botaoConecte:hover {

  }
  .botaoConecte.aparecer {
    opacity: 1;
    pointer-events: auto;
  }

  #fraint{
    width: 500px;
    height: auto;
  }
@media screen and (max-width: 375px) {
        #fraint{
        max-width: 300px;
        height: auto;
    }
}
@media (max-width: 767px) {
  #fraint {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #fraint {
    max-width: 300px;
    height: auto;
  }
}

@media (min-width: 992px) {
  #fraint {
    max-width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
    #header-top {
        justify-content: space-around;
        gap: 20px;
    }

    #main-content2 {
        padding: 40px 3%;
    }

    #footer_content {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2.5rem;
    }

    .footer-lista {
        grid-column: span 3;
        width: 100%;
        padding-left: 0;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 992px) {
    #header-top {
        font-size: 16px;
        gap: 15px;
    }

    #header-top img {
        height: 80%;
    }

    #main-content2 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #informacao, #acolhimento, #tratamento {
        min-width: 45%;
        max-width: none;
    }

    .footer-list {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    #header-top {
        height: 8vh;
        font-size: 14px;
        justify-content: space-between;
        padding: 0 15px;
    }

    #header-top img {
        height: 70%;
        padding: 5px;
    }

    #header-top a {
        white-space: nowrap;
        padding: 0 8px;
    }

    #main-content {
        height: 50vh;
    }

    #main-content2 {
        flex-direction: column;
        padding: 30px 5%;
    }

    #informacao, #acolhimento, #tratamento {
        width: 100%;
        max-width: none;
        min-width: auto;
        margin-bottom: 20px;
    }

    .icones {
        margin-top: 30px;
    }

    .titulo {
        padding-top: 20px;
        font-size: 18px;
    }

    .desc {
        padding-top: 15px;
        font-size: 14px;
    }

    #footer_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-lista {
        grid-column: span 2;
    }
}

@media screen and (max-width: 576px) {
    #header-top {
        font-size: 12px;
        gap: 5px;
        padding: 0 10px;
    }

    #header-top img {
        height: 60%;
    }

    #header-top a {
        padding: 0 5px;
    }

    #main-content {
        height: 40vh;
    }

    .titulo {
        font-size: 16px;
    }

    .desc {
        font-size: 13px;
    }

    .icones {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    #footer_content {
        grid-template-columns: 1fr;
        padding: 1.5rem;
    }

    .footer-list, .footer-lista {
        grid-column: span 1;
    }

    #footer_subscribe {
        margin-top: 1.5rem;
    }

    #footer_social_media {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #header-top {
        height: 7vh;
    }

    #header-top img {
        display: none;
    }

    #header-top a {
        font-size: 11px;
        padding: 0 3px;
    }

    #main-content {
        height: 35vh;
    }

    #main-content2 {
        padding: 20px 3%;
    }

    .titulo {
        font-size: 15px;
        padding-top: 15px;
    }

    .desc {
        font-size: 12px;
        padding-top: 10px;
    }

    .icones {
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }

    #footer_copyright {
        font-size: 0.7rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .bannerConteudo1 h1 {
        font-size: 8dvh;
    }

    .bannerConteudo1 p {
        font-size: 3dvh;
    }

    .localizacao {
        font-size: 2.5dvh;
    }
}

@media screen and (max-width: 992px) {
    .bannerConteudo1 {
        left: 10dvh;
        top: 20dvh;
    }

    .botaoChegar {
        right: 25dvh;
    }
}

@media screen and (max-width: 768px) {
    .bannerConteudo1 {
        left: 5dvh;
        top: 15dvh;
    }

    .bannerConteudo1 h1 {
        font-size: 6dvh;
    }

    .bannerConteudo1 p {
        font-size: 2.5dvh;
    }

    .localizacao {
        font-size: 2dvh;
        left: 10dvh;
        top: 25dvh;
    }

    .botaoChegar {
        padding: 12px 25px;
        right: 15dvh;
        top: 25dvh;
    }
}

@media screen and (max-width: 576px) {
    .bannerConteudo1 {
        left: 3dvh;
        top: 10dvh;
    }

    .bannerConteudo1 h1 {
        font-size: 4dvh;
    }

    .bannerConteudo1 p {
        font-size: 2dvh;
        margin-left: 1dvh;
    }

    .localizacao {
        font-size: 1.5dvh;
        left: 5dvh;
        top: 18dvh;
        gap: 1dvh;
    }

    .localizacao i {
        font-size: 2dvh;
    }

    .botaoChegar {
        padding: 10px 20px;
        right: 5dvh;
        top: 17dvh;
        font-size: 1.5dvh;
    }
}

@media screen and (max-width: 992px) {
    #main-content3 {
        height: auto;
        padding: 40px 20px;
    }

    .banner3 {
        flex-direction: column;
        padding: 0 10dvh;
    }

    .tituloBanner3 {
        font-size: 5dvh;
        text-align: center;
    }

    .textoBanner3 {
        font-size: 3dvh;
        text-align: center;
    }

    .botaoDoar {
        margin-top: 3dvh;
    }

    .iconesBanner3 {
        flex-direction: row;
        margin-top: 3dvh;
        font-size: 12dvh;
        gap: 4dvh;
    }
}

@media screen and (max-width: 768px) {
    .banner3 {
        padding: 0 5dvh;
    }

    .tituloBanner3 {
        font-size: 4dvh;
    }

    .textoBanner3 {
        font-size: 2.5dvh;
    }

    .botaoDoar {
        font-size: 2.5dvh;
        padding: 15px 30px;
    }

    .iconesBanner3 {
        font-size: 10dvh;
    }
}

@media screen and (max-width: 576px) {
    .banner3 {
        padding: 0 3dvh;
    }

    .tituloBanner3 {
        font-size: 3dvh;
    }

    .textoBanner3 {
        font-size: 2dvh;
    }

    .botaoDoar {
        font-size: 2dvh;
        padding: 12px 25px;
    }

    .iconesBanner3 {
        font-size: 8dvh;
        gap: 3dvh;
    }
}

@media screen and (max-width: 992px) {
    #main-content4 {
        padding: 40px 15px;
    }

    .titulopix {
        font-size: 28px;
    }

    #main-content4 img {
        width: 200px;
    }
}
@media screen and (min-width: 820px) and (max-width: 1024px){
.bannerConteudo1,.bannerConteudo2,.bannerConteudo3 h1{
  text-align: center;
  width: 100%;
  height: auto;
  top: 20%;
  left: 0%;
}
#arrumar{
    height: 400px;
}
.servicesContent1{
  padding-bottom: 100px;
}
  .bannerConteudo1 a{
    margin-top: 200px;
  }
  .banner3 {
    flex-direction: column;
    padding: 5dvh 5dvh;
    text-align: center;
    gap: 5dvh;
  }

  .bannerConteudo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }

  .tituloBanner3 {
    font-size: 5dvh;
    margin-bottom: 2dvh;
  }

  .textoBanner3 {
    font-size: 3dvh;
    margin-bottom: 3dvh;
  }

  .botaoDoar {
    font-size: 2.5dvh;
    padding: 15px 30px;
    margin-top: 4dvh;
  }

  .iconesBanner3 {
    order: 2;
    flex-direction: row;
    justify-content: center;
    font-size: 10dvh;
    gap: 5dvh;
  }

}

@media screen and (max-width: 768px) {
    .bannerConteudo2{
      margin-right: 7%;
      margin-top: 20%;
    }
  .bannerConteudo1{
      margin-top: 80%;
    margin-right: 7%;
    }
  .bannerConteudo1 a{
    top: 90%;
    margin-top: 40px;
  }

  .bannerConteudo3{
      margin-top: 20%;
    }
    .titulopix {
        font-size: 24px;
    }

    #main-content4 img {
        width: 180px;
    }

    .pix-container {
        padding: 30px;
    }
}

@media screen and (max-width: 576px) {
    .titulopix {
        font-size: 20px;
    }

    #main-content4 img {
        width: 150px;
    }

    .pix-container {
        padding: 20px;
    }

    .qrpix {
        width: 150px;
    }
}
@media (max-width: 480px) {
  .carrossel {
    width: 100%;
    border-width: 2px;
  }

  .titulo2 {
    font-size: 1.5rem;
  }

  .desc2 {
    font-size: 1rem;
  }
}
#conecte{
  color:#171717;
}

.botaoChegar {
  display: inline-block;
  margin-top: 4vh;
  padding: 14px 32px;
  background: var(--color-neutral-40);
  color: #8A2BE2;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  font-size: 2.4vh;
  transition: background 0.3s, color 0.3s;
}
.botaoChegar:hover {
  background: #f3e9fd;
  color: #6b1cb8;
}

.botaoSaiba {
  display: inline-block;
  margin-top: 5vh;
  padding: 14px 36px;
  background-color: #004aad;
  color: var(--color-neutral-40);
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  font-size: 2.4vh;
  transition: background-color 0.3s ease;
}
.botaoSaiba:hover {
  background-color: #003d80;
}



@media (max-width: 768px) {
  .bannerCarrossel {
    height: 100vh;
  }


  .bannerConteudo1,
  .bannerConteudo2,
  .bannerConteudo3 {
    left: 5vw !important;
    bottom: 15vh;
    text-align: center;
  }


  .bannerConteudo1 {
    position: relative;
    top: 35vh;
    text-align: left;
    padding-right: 5vw;
  }


  .bannerConteudo1 h1,
  .bannerConteudo2 h1,
  .tituloBanner3 {
    font-size: 6vh;
  }

  .bannerConteudo1 h1 {
    font-size: 5.5vh;
    line-height: 1.2;
  }


  .bannerConteudo1 p,
  .bannerConteudo2 p,
  .textoBanner3 {
    font-size: 2.5vh;
    margin-left: 0;
  }

  .bannerConteudo1 p {
    font-size: 2.2vh;
    margin-top: 1.5vh;
  }


  .botaoChegar,
  .botaoSaiba,
  .botaoDoar {
    position: relative;
    margin: 3vh auto 0 auto;
    display: block;
    font-size: 2.5vh;
    padding: 12px 25px;
    text-align: center;
    width: fit-content;
  }


  .botaoChegar {
    top: 38vh;
    left: 5vw;
    margin-top: 2vh;
    padding: 12px 24px;
    font-size: 2.2vh;
    display: inline-block;
    width: auto;
  }


  .bannerConteudo2 {
    left: 5vw;
    top: 10vh;
    text-align: center;
  }


  .logoFranit {
    position: relative;
    width: 40vw;
    margin: 2vh auto 0 auto;
    display: block;
  }


  .banner3 {
    flex-direction: column;
    padding: 5vh 5vw;
    text-align: center;
  }

  .iconesBanner3 {
    flex-direction: row;
    justify-content: center;
    font-size: 12vh;
    gap: 5vw;
    margin-top: 5vh;
  }


  .localizacao {
    position: relative;
    top: 40vh;
    left: 5vw;
    font-size: 2.2vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-top: 2vh;
  }
  .localizacao i {
    font-size: 2.5vh;
  }


  .dots {
    bottom: 10px;
  }
  .dot {
    width: 40px;
    height: 6px;
  }
}


@media screen and (min-width: 1800px) {
  .botaoChegar {
    font-size: 2.5vh;
    padding: 16px 36px;
    top: 75%;
  }
  .botaoSaiba {
    font-size: 2.6vh;
    padding: 16px 40px;
    margin-top: 5vh;
  }
  .localizacao{
    top: 80%;
    margin-top:40px;
  }
  .localizacao p{
    font-size:18px;
  }
}
@media (max-width: 768px) {
  .bannerConteudo1 {
    position: relative;
    top: auto;
    left: 5vw;
    text-align: left;
    padding-right: 5vw;
  }

  .bannerConteudo1 h1 {
    font-size: 5.5vh;
    line-height: 1.2;
  }

  .bannerConteudo1 p {
    font-size: 2.2vh;
    margin-top: 1.5vh;
  }

  .botaoChegar {
    position: relative;
    margin-top: 3vh;
    left: 0;
    right: 0;
    padding: 12px 24px;
    font-size: 2.2vh;
    display: inline-block;
    width: auto;
  }

  .localizacao {
    position: relative;
    margin-top: 2vh;
    font-size: 2.2vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
  }

  .localizacao i {
    font-size: 2.5vh;
  }
}
@media (max-width: 768px) {
  .bannerConteudo1 {
    position: relative;
    top: auto;
    left: auto;
    padding: 5vh 5vw;
    transform: none;
    text-align: center;
  }

  .bannerConteudo1 h1 {
    font-size: 5.5vh;
    line-height: 1.2;
  }

  .bannerConteudo1 p {
    font-size: 2.2vh;
    margin-top: 1.5vh;
  }

  .acessoLocalizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    gap: 2vh;
  }

  .botaoChegar {
    font-size: 2.2vh;
    padding: 12px 24px;
    margin: 0 auto;
  }

  .localizacao {
    font-size: 2.2vh;
    display: flex;
    align-items: center;
    gap: 1vh;
  }

  .localizacao i {
    font-size: 2.5vh;
  }

  .gps-ico {
    text-align: left;
  }
}


